body{
	margin:0;
	padding:0;
        background:url(../images/img9.jpeg) no-repeat;
	font-family: scans-serif;
	background-size:cover;
}
button{
	position:relative;
	top:0%;
	left:83%;
	transdorm: translate(-50%,-50%);
}
button{
	background:none;
	color: white;
	width: 100px;
	height: 40px;
	border:1px solid #000000;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow:hidden;
}
button:focus {
	outline:none;
}
button:before{
	content: '';
	display:block;
	position:absolute;
	background: rgba(255,255,255,0.5);
	width: 60px;
	height:100%;
	left: 0;
	top: 0;
	opacity: 0.5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}
button:after{
	content: '';
	display:block;
	position:absolute;
	background: rgba(255,255,255,0.2);
	width: 30px;
	height:100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translateX(-100px) scaleX(-15deg);
}
button:hover {
	background: #000000;
	cursor: pointer;
}

button:hover:before{
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.6;
	transition: 0.7s;
}

button:hover:after{
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
.login-box{
	width:280px;
	position: absolute;
	top:45%;
	left:51%;
	transform: translate(-50%,-50%);
	color:white;
}
log-box h1{
	float:left;
	font-size:40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding:13px 0;
}
.textbox{
	width:100%;
	over-flow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
}
.textbox i{
	width: 26px;
	float:left;
	rexr-align: center;
}
.textbox input{
	borber: none;
	outline: none;
	background: none;
	color:white;
	font-size: 15px;
	width: 200px;
	
}

label{
	position:relative;
	top:0%;
	left:80%;
	color:white;
	font-size: 20px;
}
label1{
	position:relative;
	top:0%;
	left:3%;
	color:white;
	font-size: 20px;
}
.box{
	width:200%;
	over-flow: hidden;
	font-size: 25px;
	padding: 8px 0;
	margin: 8px 0;
}

.box input{
	borber: none;
	outline: none;
	background: none;
	font-size: 15px;
	width: 200px;
	
}