body{
	margin:0;
	padding:0;
        background:url(../images/img30.jpg) no-repeat;
	font-family: scans-serif;
	background-size:cover;
	 background-attachment: fixed;
}
button{
	position:relative;
	top:0%;
	left:85%;
	transdorm: translate(-50%,-50%);
}
button{
	background:none;
	color: white;
	width: 100px;
	height: 40px;
	border:1px solid #000000;
	font-size: 18px;
	border-radius: 4px;
	transition: .6s;
	overflow:hidden;
}
button:focus {
	outline:none;
}
button:before{
	content: '';
	display:block;
	position:absolute;
	background: rgba(255,255,255,0.5);
	width: 60px;
	height:100%;
	left: 0;
	top: 0;
	opacity: 0.5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}
button:after{
	content: '';
	display:block;
	position:absolute;
	background: rgba(255,255,255,0.2);
	width: 30px;
	height:100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translateX(-100px) scaleX(-15deg);
}
button:hover {
	background: #000000;
	cursor: pointer;
}

button:hover:before{
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.6;
	transition: 0.7s;
}

button:hover:after{
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}
#p{
	position: relative;
	padding: 30px 30px;
	text-decoration: none;
	color:black;
	font-size:2em;
	text-transform:uppercase;
	font-family: sans-serif;
	letter-spacing: 10px;
	overflow: hidden;
	background: rgba(255,255,255,0.1);
	box-shadow:0 10px 5px rgba(0,0,0,0.2);
}
#p:before{
	content:'';
	position:absolute;
	top:0;
	left:10;
	width:50%;
	height:100%;
	background: rgba(255,255,255,0.1);
}
label{
	position:relative;
	top:0%;
	left:83%;
	color:white;
	font-size: 20px;
}
